<fieldset data-hook="creditcard">
  <legend>PxPay</legend>

  <table class="index">
    <tr>
      <td><%= label_tag nil, 'Authorisation' %></td>
      <td><%= payment.response_code %></td>
    </tr>
  </table>
</fieldset>


